<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.category %></h3>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant.id) %>
<br>
<br>
<h4>Reviews</h4>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.rating %></p>
  <p><%= review.content %></p>
<% end %>
<h1>Leave a Review</h1>
<div class="mx-auto max-w-xl">
  <%= simple_form_for([@restaurant, @review]) do |f| %>
    <%= f.input :content %>
    <%= f.input :rating %>
    <%= f.submit class:"btn btn-primary w-100" %>
  <% end %>
</div>
<br>
<br>
<%= link_to 'Back to Restaurants', restaurants_path %>
